
{% extends 'base.html' %}

{% block title %}All Open Request{% endblock %}

{% block main %}

    
<h2>Request Detail</h2>
<p>Order ID: {{ request_instance.order_id }}</p>
<p>Representative Name: {{ request_instance.representative_name }}</p>
<!-- Display other fields as needed -->

<!-- Display image -->
{% if request_instance.image_data %}
    <img src="{{ request_instance.image_data }}" alt="Image">
{% else %}
    <p>No image available</p>
{% endif %}

<!-- Display remarks -->
<p>Created By : {{ request_instance.created_by }}</p>
<p>Created at : {{ request_instance.created_at }}</p>
<p>Comments added : {{ request_instance.comments }}</p>

<!-- Display other fields as needed -->

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
    
{% endblock %}    